In [6]:
num=[1,2,3,4]
num.append(100) #add element at end 
num.insert(2,34) #insert element based on index number
print(num)
num[2]=45 #change element based on index number
print(num)

del num[2] #delete element based on element number
print(num)

num.clear()#clear all data in list variable
print(num)

[1, 2, 34, 3, 4, 100]
[1, 2, 45, 3, 4, 100]
[1, 2, 3, 4, 100]
[]

In [35]:
k=[1,2,3,4,5]
l=[10,12,14,15,16]
k.extend(l) #add list into another list
print(k)

k.remove(10) #remove given item 
print(k)
k.pop(0) #remove element based on index number
print(k)

print(k.count(12))

k.sort()#sort in ascending order
print(k)

k.reverse()#sort in descending order
print(k)
print("\n")

for i in k:

    print(i,"\t")

[1, 2, 3, 4, 5, 10, 12, 14, 15, 16]
[1, 2, 3, 4, 5, 12, 14, 15, 16]
[2, 3, 4, 5, 12, 14, 15, 16]
1
[2, 3, 4, 5, 12, 14, 15, 16]
[16, 15, 14, 12, 5, 4, 3, 2]


16
15
14
12
5
4
3
2

In [27]:
temp = {'jan':28,'feb':14,'mar':23}
print(temp)
mar_temp=temp['mar']
print(mar_temp)
temp['apr']=30

print(temp)

temp['jan']=12
print("\n")
print(temp)

del temp['jan']
print(temp)

temp.clear()
print(temp)

for i in temp:
    print(i,"\n")

{'jan': 28, 'feb': 14, 'mar': 23}
23
{'jan': 28, 'feb': 14, 'mar': 23, 'apr': 30}


{'jan': 12, 'feb': 14, 'mar': 23, 'apr': 30}
{'feb': 14, 'mar': 23, 'apr': 30}
{}

In [30]:
temp = {'jan':28,'feb':14,'mar':23}
print(temp)

for i in temp:
    print(i,"\n")

{'jan': 28, 'feb': 14, 'mar': 23}
jan

feb

mar