In [1]:
#simple input and output 

name = input("what is your name ? ")
print("so your name is ", name)

what is your name ? geetanshu dev
so your name is  geetanshu dev

In [3]:
#take a number and square and cube it 
number = int(input("enter any number = "))
sq = number**2
cube = number**3
print("square of a number = ",sq)
print("cube of a number = ",cube)

enter any number = 5
square of a number =  25
cube of a number =  125

Different datatype used in python

In [7]:
#list with square bracket

In [4]:

a1 = (12,23,34,45,56,67)
lst = list(a1)
print(lst)

[12, 23, 34, 45, 56, 67]

In [8]:
#tuples with circle bracket with comma
bn = (1,2,3,4,'a','b','c')
print(bn)

(1, 2, 3, 4, 'a', 'b', 'c')

In [9]:
#dictionary it writes with curly braces with separate with colon :
#it stores data in {key:value} types 
dic = {'name':'ashok','place':'bhuwaneshwar','age':'34'}
print(dic)

{'name': 'ashok', 'place': 'bhuwaneshwar', 'age': '34'}

# #operators used in python

In [44]:
#arithmetics
a = 12
b = 4

add = a+b
sub = a-b
multi = a*b
divide = a/b
floordivi = a//b
mod = a%b
exponent = a**4
print("add=",add,"\nsub=",sub,"\nmulti=",multi,"\ndivide=",divide,"\nfloor division = ",floordivi,"\nmodulus = ",mod,"\nexponent = ",exponent)
print()
c = "hello"
d = "world"
print("string concatenation = ",c+d)

add= 16
sub= 8
multi= 48
divide= 3.0
floor division =  3
modulus =  0
exponent =  20736

string concatenation =  helloworld

In [49]:
#assignment operators
a = 12
b = 3
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)

15
12
36
12.0

In [54]:
#relational operator 
a = 13
b = 5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)
print(" ")

c = 'A'
d = 'a'
print(c>d)
print(c<d)
print(c>=d)
print(c<=d)
print(c==d)
print(c!=d)

ascii('A')

True
False
True
False
False
True

False
True
False
True
False
True

"'A'"

In [56]:
#Identity Operators

a = "japan"
b = "pan"
a is b
a is not b

True

In [57]:
#to find memory reference we use id()
a = 10 
c= 20
print(id(a))
print(id(c))

2713054505552
2713054505872

In [67]:
#logical operators 
#it includes or,and,not
#lets create and table 
print("AND gate table = ")
print("True And True = ", True and True)
print("True And False = ", True and False)
print("False And True = ", False and True)
print("False And False = ", False and False)
print()

#lets create or table 
print("OR gate Table = ")
print("True Or True = ", True or True)
print("True Or False = ", True or False)
print("False Or True = ", False or True)
print("False Or False = ", False or False)
print()

#lets crete not table 
print("NOT gate table ")
print("True = ",not True)
print("False = ",not False)

#lets create nand gate 
print("NAND gate = ")
print("True nAnd True = ", not(True and True))
print("True nAnd False = ", not(True and False))
print("False nAnd True = ", not(False and True))
print("False nAnd False = ", not(False and False))
print()

#lets create nor gate
print("NOR gate Table = ")
print("True nOr True = ", not(True or True))
print("True nOr False = ", not(True or False))
print("False nOr True = ", not(False or True))
print("False nOr False = ", not(False or False))
print()

AND gate table =
True And True =  True
True And False =  False
False And True =  False
False And False =  False

OR gate Table =
True Or True =  True
True Or False =  True
False Or True =  True
False Or False =  False

NOT gate table
True =  False
False =  True
NAND gate =
True nAnd True =  False
True nAnd False =  True
False nAnd True =  True
False nAnd False =  True

NOR gate Table =
True nOr True =  False
True nOr False =  False
False nOr True =  False
False nOr False =  True

In [44]:
#to check member opearator in / not in 
p = "japan"
q = "pan"
r = "pen"
df = r in p
print(df)
dg = q in p
print(dg)

False
True

In [26]:
#multiple assignment
x ,y = 20,10
temp = 0
print("x=",x,"y=",y)
x,y = y,x
print("x=",x,"y=",y)

x= 20 y= 10
x= 10 y= 20

In [77]:
#for getting binary number of any number we use bin()
gh = bin(12)
print(type(gh))

#now we create a program that takes from 1 to 20 and convert it into binary number 
#basically create a binary table from 1 to 20
ques = input("lets create binary table <hit enter> ")
a = int(input("enter starting of a binary number = "))
b = int(input("enter ending of binary number = "))
for i in range(a,b+1):
    print("number ",i," in binary form = ",bin(i))

<class 'str'>
lets create binary table <hit enter>
enter starting of a binary number = 0
enter ending of binary number = 18
number  0  in binary form =  0b0
number  1  in binary form =  0b1
number  2  in binary form =  0b10
number  3  in binary form =  0b11
number  4  in binary form =  0b100
number  5  in binary form =  0b101
number  6  in binary form =  0b110
number  7  in binary form =  0b111
number  8  in binary form =  0b1000
number  9  in binary form =  0b1001
number  10  in binary form =  0b1010
number  11  in binary form =  0b1011
number  12  in binary form =  0b1100
number  13  in binary form =  0b1101
number  14  in binary form =  0b1110
number  15  in binary form =  0b1111
number  16  in binary form =  0b10000
number  17  in binary form =  0b10001
number  18  in binary form =  0b10010

In [47]:
#to check range() function
range(1,10)

range(1, 10)

In [28]:
date1 = int(input("enter date = "))
date2 = int(input("enter total day of month = "))
cls = date2-date1
print("you have ",cls,"days left.")

enter date = 27
enter total day of month = 30
you have  3 days left.

In [91]:
#now we play with math library
#first we have to import it 
import math as mth
print("square root of number 4 = ",mth.sqrt(4))
print("smallest integer of 5.7823 = ",mth.ceil(5.7823))
print("convert number 20 in to log base 2 = ",mth.log(20,2))
print("to convert 20 into log base 10 = ",mth.log10(20))
print("exponential of 5 to 2 = ",mth.pow(5,2))
print("convert number into sin = ",mth.sin(45))
print("convert number into tan = ",mth.tan(45))
print("convert number into cos = ",mth.cos(45))

print("conver degree into radian = ",mth.radians(45))
print("convert radian into degree = ",mth.degrees(0.7853981633974483))

square root of number 4 =  2.0
smallest integer of 5.7823 =  6
convert number 20 in to log base 2 =  4.321928094887363
to convert 20 into log base 10 =  1.3010299956639813
exponential of 5 to 2 =  25.0
convert number into sin =  0.8509035245341184
convert number into tan =  1.6197751905438615
convert number into cos =  0.5253219888177297
conver degree into radian =  0.7853981633974483
convert radian into degree =  45.0

In [97]:
#now we explore random library 
import random as rnd
print(rnd.random())
print(rnd.randint(2,100))
print(rnd.randrange(15,35))

0.293143891412872
39
31

In [100]:
#with statistics library
import statistics as sts
seq = [2,5,8,1,7,2,8,1,9,4,8,4,6,2,7,4,0,2,5,8]
print("sequence = ",seq)
print("mean of given sequence = ",sts.mean(seq))
print("median of given sequence = ",sts.median(seq))
print("mode of given sequence = ",sts.mode(seq))

sequence =  [2, 5, 8, 1, 7, 2, 8, 1, 9, 4, 8, 4, 6, 2, 7, 4, 0, 2, 5, 8]
mean of given sequence =  4.65
median of given sequence =  4.5
mode of given sequence =  2

In [142]:
#take a 2 digit number and reverse it eg 25 = 52 
numb = int(input("enter any 2 digit number = "))
fg = numb//10
#print(fg)
gf = numb%10
#print(gf)
a = str(fg)
b = str(gf)
#print(type(a),type(b))
cld = b+a
print("in reverse order = ",int(cld))

enter any 2 digit number = 25
in reverse order =  52

In [151]:
#take 3 digits number and and print it in reverse oder eg 123 = 321
hg = int(input("enter 3 digit numbers = "))
a1 = hg//100
a2 = hg%100
b1 = 23//10
b2 = 23%10
c1 = str(a1)
c2 = str(b1)
c3 = str(b2)
ca1 = int(c3+c2+c1)
print("in reverse order = ",ca1)

enter 3 digit numbers = 123
in reverse order =  321

# Condition and Iterative Statements

if Statement 
syntax  = 
if <condition> :
    {statement}

In [4]:
numb = int(input("enter the number = "))
if numb == 0:
    print("the number is zero. ")
if numb >= 10:
    print("the number is greater than 10.")
if numb >= 50:
    print("the number is greater than 50. ")
print("--------the program is over-----------")

enter the number = 234
the number is greater than 10.
the number is greater than 50.
--------the program is over-----------

If - Else statement

In [6]:
numb = int(input("enter the number = "))
if numb <=50:
    print("the number is less than 50.")
else:
    print("the number is greater than 50.")
print("-----------the program is over---------.")

enter the number = 78
the number is greater than 50.
-----------the program is over---------.

question 1) take three number and print maximum number using if statement

In [9]:
a = int(input("enter first number = "))
b = int(input("enter second number = "))
c = int(input("enter third number = "))

maxm = a 
if b>maxm:
    maxm = b
    
if c>maxm:
    maxm = c
    
print(maxm)

enter first number = 2
enter second number = 4
enter third number = 3
4

question2) takes 3 number and show 2 sum , sum1 = sum of all number , sum2 = sum of non duplicate number

In [28]:
a = int(input("enter first number = "))
b = int(input("enter second number = "))
c = int(input("enter third number = "))
sum1 = sum2 = 0
sum1 = a+b+c 

if a!=b and a!=c:
    sum2+=a
if b!=a and b!=c:
    sum2+=b
    
if c!=a and c!=b:
    sum2+c

    
print("sum1 = ",sum1)
print("sum2 = ",sum2)

enter first number = 3
enter second number = 4
enter third number = 4
sum1 =  11
sum2 =  3

If-Elif-Else statement

In [36]:
#lets create a simple calculator 
num1 = float(input("enter first number = "))
num2  = float(input("enter second number = "))
op = input("select the operator [+,-,X,/,//,^,%]=")
result = 0
if op == '+':
    print("so you choose addition.")
    result = num1+num2
elif op == '-':
    print("so you choose subtraction.")
    result = num1-num2
elif op =='X':
    print("so you choose multiplication.")
    result = num1*num2
elif op =='/':
    print("so you choose division.")
    result = num1/num2
elif op =='//':
    print("so you choose floor division.")
    result = num1//num2
elif op =='^':
    print("so you choose exponential.")
    result = num1**num2
elif op =='%':
    print("so you choose modules[remainder].")
    result = num1%num2
else:
    print("wrong input please insert valid operators")
print("result = ",result)
print("program ends.")

enter first number = 2
enter second number = 3
select the operator [+,-,X,/,//,^,%]=)
wrong input please insert valid operators
result =  0
program ends.

question3) Take three number and compare all three number and print the number in sequence manner

In [41]:
#for this we use nested condition
a = int(input("enter first number = "))
b = int(input("enter second number = "))
c = int(input("enter third number = "))

if a>b:
    max1 = a
    if b>c:
        max2 = b
        max3 = c
    else:
        max2 = c
        max3 = b
if b>c:
    max1 = b
    if a>c:
        max2 = a
        max3 = c
    else:
        max2 = c
        max3 = a
        
if c>a:
    max1 = c
    if a>b:
        max2 = a
        max3 = b
    else:
        max2 = b
        max3 = a
        
print("the sequence of a number are  = ", max1,">>",max2,">>",max3)

enter first number = 189
enter second number = 192
enter third number = 134
the sequence of a number are  =  192 >> 189 >> 134

# Loop

There are two types of loop that is for and while , for loop is used for counting loop that repeat at certain time , while loop is use for conditional loop if condition  is true then loop occurs

In [48]:
#for loop 
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [51]:
i = 0
while i<=10:
    
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [57]:
#print sum of natural number 
sum = 0
for i in range(1,10):
    sum += i
    print(i,sum)
print("sum of all 9 natural numbers are = ",sum)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
sum of all 9 natural numbers are =  45

In [103]:
#print sum of odd numbers occurs between 2 numbers 
a = int(input("enter first number of range = "))
b = int(input("enter last number of range = "))
num = 0
add = 0
add2 = 0
for i in range(a,b+1):
    num = i%2!=0
    if num == True:
        #print(i)
        add+=i

    num2 = i%2==0
    if num2 == True:
        #print(i)
        add2+=i
print("sum of odd number in given range of ",a,"to",b,"is = ",add)
print("sum of even number in given range of ",a,"to",b,"is = ",add2)

enter first number of range = 1
enter last number of range = 100
sum of odd number in given range of  1 to 100 is =  2500
sum of even number in given range of  1 to 100 is =  2550

In [102]:
#to print sum of natural number from 1 to 100
adds = 0
for i in range(1,101):
    adds+=i
print("sum of natural number from 1 to 100 is ",adds)

sum of natural number from 1 to 100 is  5050

In [95]:
#to calculate factorial of a given number 
numbv = int(input("Enter any number = "))
fact = 1
a = 1 
while a <=numbv:
    fact*=a
    a+=1
print("factorial of a number = ",fact)

Enter any number = 6
factorial of a number =  720

In [101]:
#to calculate sum of n natural number of odd and even 

a= int(input("enter a n number = "))
a1 = 1
sume=sumo = 0
while a1<=a:
    if a1%2==0:
        sume+=a1
    else:
        sumo+=a1
    a1+=1
print("sum of even natural number = ",sume)
print("sum of odd natural number = ",sumo)
print("total number = ",sume+sumo)

enter a n number = 100
sum of even natural number =  2550
sum of odd natural number =  2500
total number =  5050

Break and Continue

In [105]:
for i in range(1,100):
    print(i)
    if i == 25:
        break
print("loop ends ")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
loop ends

In [126]:
for i in range(1,23):
    
    if i%15 == 0:
        continue
    else:
        print(i)
print("loop ends ")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
loop ends

In [123]:
import random as rnd
print("welcome to guess the number game you have to guess a number ")
print("\nyou have to given 10 points if you guess wrong number then it decreses to 2 ")
print("\nif your rank become zero you loose else you win the game with rank of 200!!")
print("Good Luck!!")
number = rnd.randint(1,50)
ctr = 0
count = 10

while ctr<5:
    guess = int(input("guess a number = "))
    if guess == number:
        print("you win !!!")
        count*=20
        print("rank = ",count)
        break
    else:
        ctr+=1
        count-=2
        print("rank = ",count)
        
if not ctr<5:
    print("you loose try again")
    print( "the number is ",number)

welcome to guess the number game you have to guess a number

you have to given 10 points if you guess wrong number then it decreses to 2

if your rank become zero you loose else you win the game with rank of 200!!
Good Luck!!
guess a number = 3
rank =  8
guess a number = 12
rank =  6
guess a number = 23
rank =  4
guess a number = 45
rank =  2
guess a number = 12
rank =  0
you loose try again
the number is  24

In [133]:
#basic yes no loop 
while True:
    ques = input("do you want see magic [y/n] = ")
    if ques == 'y':
        while True:
            print("MAGIC")
            break
    elif ques == 'n':
        print("good bye ")
        break
    else:
        print("wrong input")

do you want see magic [y/n] = y
MAGIC
do you want see magic [y/n] = y
MAGIC
do you want see magic [y/n] = y
MAGIC
do you want see magic [y/n] = y
MAGIC
do you want see magic [y/n] = n
good bye

Nested loop [loop inside a loop]

In [178]:
for i in range(1,8):
    for j in range(1,i):
        print(j,end='')
    print()
    
for a in range(1,8):
    for b in range(8,a,-1):
        print(b,end="")
    print()

1
12
123
1234
12345
123456
8765432
876543
87654
8765
876
87
8

In [208]:
countg = 0
counta = 0
import random
for i in range(1,101):
    result = int(random.randrange(1,80))
    if result <=50:
        counta+=1
        print(result,"averaege")
    
    if result >=50:
        countg+=1
        print(result,"good")
        
print("number of average people = ",counta)
print("number of good people = ",countg)
total = counta+countg
print("total = ",total)
percenta = (counta/total)*100
print("percentage of average number = ",percenta)

percentg = (countg/total)*100
print("percentage of good number = ",percentg)

20 averaege
49 averaege
58 good
78 good
12 averaege
73 good
16 averaege
71 good
52 good
56 good
47 averaege
49 averaege
53 good
78 good
48 averaege
30 averaege
1 averaege
24 averaege
5 averaege
46 averaege
19 averaege
32 averaege
28 averaege
42 averaege
10 averaege
38 averaege
68 good
37 averaege
20 averaege
7 averaege
3 averaege
73 good
16 averaege
69 good
71 good
73 good
41 averaege
52 good
43 averaege
53 good
6 averaege
33 averaege
41 averaege
76 good
69 good
77 good
72 good
33 averaege
37 averaege
36 averaege
75 good
28 averaege
63 good
53 good
42 averaege
32 averaege
76 good
79 good
76 good
63 good
70 good
45 averaege
14 averaege
79 good
8 averaege
3 averaege
55 good
68 good
9 averaege
46 averaege
3 averaege
51 good
62 good
36 averaege
39 averaege
77 good
70 good
33 averaege
79 good
10 averaege
69 good
18 averaege
46 averaege
22 averaege
78 good
46 averaege
56 good
10 averaege
45 averaege
45 averaege
1 averaege
44 averaege
10 averaege
43 averaege
2 averaege
5 averaege
46 averaege
5 averaege
40 averaege
27 averaege
number of average people =  62
number of good people =  38
total =  100
percentage of average number =  62.0
percentage of good number =  38.0

In [179]:
#a simple bmi calculator 
weight = float(input("enter weight in kg="))
height = float(input("enter height in m="))

bmi = weight/(height**2)
print("BMI = ",bmi)
if bmi<18.5:
    print("underweight.........")
elif bmi < 25:
    print("Normal..............")
elif bmi < 29:
    print("overweight..........")
else:
    print("obese...............")

enter weight in kg=65
enter height in m=1.63
BMI =  24.46460160337235
Normal..............

In [185]:
#temperature converter 
print("write temparature in celsius or in fahrenheit =  ")
df = input("choose 1 for convert temperature from celsius into fahrenheit or 2 for vise versa = ")
if df == '1':
    print("----------from celsius to fahrenheit-------")
    print()
    temp1 = input("enter a temperature in celsius = ")
    fah = ((9/5)*temp1)+32
    print("temperature in fahrenheit is = ",fah)

write temparature in celsius or in fahrenheit =
choose 1 for convert temperature from celsius into fahrenheit or 2 for vise versa = 1
----------from celsius to fahrenheit-------

enter a temperature in celsius = 25

TypeError: can't multiply sequence by non-int of type 'float'

In [198]:
import datetime
a = datetime.datetime.now()
b = a.strftime("date = %d/%A/%B/%Y")
c = a.strftime("time = %I:%M:%S")
print(b)
print(c)

date = 28/Thursday/September/2023
time = 11:39:05

In [40]:
print("hello im programmer \n ghj ")
print("hello im programmer \t ghj ")

hello im programmer
 ghj
hello im programmer 	 ghj