In [1]:
tp = ()
print(type(tp))

<class 'tuple'>

In [2]:
tp1 = (1,2,3,4,5)
print(type(tp1))

<class 'tuple'>

In [4]:
#assecing tuple 
tp2 = (1,2,3,4,5,6)
print(tp2)
print(tp2[2:5])

(1, 2, 3, 4, 5, 6)
(3, 4, 5)

In [6]:
tp2[0] = 100
pritn(tp2)

TypeError: 'tuple' object does not support item assignment

In [7]:
tp2

(1, 2, 3, 4, 5, 6)

In [8]:
tp3 = ('a','b','c','d','e')

In [9]:
tp4 = tp2 + tp3
print(tp4)

(1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e')

In [10]:
del tp4[0]

TypeError: 'tuple' object doesn't support item deletion

In [11]:
del tp4

In [12]:
print(tp4)

NameError: name 'tp4' is not defined

Basic Tuple operations

In [13]:
#concatenate 
tupl1 = (1,2,3,4,5)
tupl2 = (11,12,13,14,15)
tupl3 = tupl1 + tupl2
print(tupl3)

(1, 2, 3, 4, 5, 11, 12, 13, 14, 15)

In [14]:
#repetation
print(tupl1 * 3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [15]:
#finding length 
print(len(tupl1))

5

In [17]:
#membership 
print(3 in tupl1)
print(3 in tupl2)

True
False

Built in tuple functions

In [18]:
cmp(tupl1,tupl2)

NameError: name 'cmp' is not defined

In [19]:
max(tupl1)

5

In [20]:
min(tupl1)

1